#me_pic {
	width: 100px; height: 100px;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: block;
}
#me_pic:hover { border: 1px solid #aaf; }

#meDiv a { cursor: pointer; }
#meDiv i { color: #777; }