#meProfile {
	width: 100px; height: 100px;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: block;

	/*
	margin-right: 10px;
	float: left;
	*/
}

/*
#meDiv h2 { clear: both; padding-top: 15px; }
*/

#meName, #meProfile { cursor: pointer; }
#meProfile:hover { border: 1px solid #aaf; }