#userCols {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 800px) {
  #userCols {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
  }
}

@media (max-width: 500px) {
  #userCols {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
  }
}


a.user {
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #fafafa;
	position: relative;
	width: 100%;
	min-height: 87px;
	padding: 5px 5px 5px 90px;
	cursor: pointer;
	display: inline-block;
	margin: 0 20px 10px 0;
}

a.user:hover {
	border: 1px solid #aaf;
	background: #f0f0ff;
	text-decoration: none
}

a.user .serviceLinks a {
	color: #888;
}
a.user .serviceLinks a:hover {
	color: red;
}


a.user > img {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 5px;
	left: 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
}

a.user > .tags {
	line-height: 1.55em;
	margin-top: 5px;
}
a.user > .tags > span {
	display: inline-block;
	margin-right: 1px;
}